@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}

.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    cursor: pointer;
}

.nav-logo{
   display: flex;
   align-items: center;
   padding-left: 40px;
}

.nav-logo img{
    height: 32px;
    margin-right: 6px;
}

.nav-logo span{
    font-size: 21px;
    font-weight:bold;
    color: #FF385C;
}

.links{
    text-align: center;
    align-items: center;
    margin-left: 85px;
}

.links .bold{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.links .no-bold{
    text-decoration: none;
    color: #5e5b5b;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.links .no-bold:hover{
    color: black;
}

.links2{
    display: flex;
    align-items: center;
    padding-right: 12px;
}

.links2 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-size: 13.5px;
}

.links2 .globe{
    height: 20px;
    padding: 23px;
}

.user-logo{
    height: 45px;
    background-size: cover;
    background-position: center;
    padding: 12px;      
}

.user-option{
    height: 20px;
}

.check-user{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding-left: 15px;
    border-radius: 50px;   
}

.check-user:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.search-box{
    display: flex;
    align-items: center;
    height: 75px;
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-left: 18%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.search-box .where{
    padding: 12px;
}

.search-box .where:hover{
    background-color: #ddd;
    cursor: pointer;
}

.search-box .check-in{
    padding: 12px;
}

.search-box .check-in:hover{
    background-color: #ddd;
    cursor: pointer;
}

.search-box .check-out{
    padding: 12px;
}

.search-box .check-out:hover{
    background-color: #ddd;
    cursor: pointer;
}

.search-box .who{
    padding: 12px;
}

.search-box .who:hover{
    background-color:#ddd ;
    cursor: pointer;
}

.search-box span{
    font-size: 13px;
    font-weight: 500;
    padding-left: 9px;
}

.search-box input{
    padding: 7px;
    border: none;
    font-size: 13px;
}

.search-box .search{
    display: flex;
    align-items: center;
    background-color: #FF385C;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.search-box .search:hover{
    background-color: #d76b7e;   
    cursor: pointer;
}

.search-box .search img{
    height: 30px;
    background-size: cover;
}

.circle{
    border-radius: 50px;
}

hr{
    margin-top: 25px;
    border: 0px;
    height: 2px;
    background-color: #ddd;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 30px 20px;
    margin: 20px;
    
}

.item-1{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.item-1 img{
    height: 300px;
    width: 100%;
    border-radius: 15px;
}

.item-1 .word-1{
    height: 100px;
    width: 100%;
}

.head{
    font-size: 20px;
    line-height: 0px;
    padding-left: 8px;
}

.para{
    font-size: 15px;
    line-height: 19px;
    word-spacing: 3px;
    padding-left: 8px;
}

.night{
    font-size: 15px; ;
    padding-left: 1px;
}

.text-bold{
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}

.item-2{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-3{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-4{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-5{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-6{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-7{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}

.item-8{
    height: 400px;
    width: 300px;
    background-color: #d76b7e;
}


